.App {
  text-align: center;
}

.review-block {
  border-radius: 25px;
  background: lightblue;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 150px;
}

.review-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}