.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
}

/*.review-block {
  border-radius: 25px;
  border: 1px solid black;
  background: white;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 2px 2px black;
}*/

.container {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.container, .container-sm {
    max-width: 100%;
}

/*.review-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.review-input > .card {
  text-align: center;
  width: 300px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.test {
  position: absolute;
  z-index: 3;
  top: 40vh;
  left: 40vh;
}

.userAuthForm {
  display: flex;
  justify-content: center;
} */