.card-show {
  display: flex;
  height: 75%;
}

.show-header {
  font-size: large;
}

h5 {
  font-size: large;
}

.card-body {
  font-size: larger;
}

textarea {
  resize: none;
}

.form-control {
  font-size: large;
}

.btn {
  font-size: large;
  margin: 10px;
}

.help {
  display: flex;
  justify-content: space-evenly;
}

.show-body-processing {
  background-color: rgb(230, 230, 230);
}