.logout-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  right: 0px;
  margin-top: 10px;
  position: fixed;
}
.logout-button {
  font-size: 10pt;
  font-weight: 500;
  pointer-events: all;
}

@media only screen and (min-width: 1024px){
  .brandName {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
    color: #007bff;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    /* text-shadow: 2px 2px black; */
    }
  }
  @media only screen and (max-width: 1024px){
    .brandName {
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 10px;
      margin-left: 10px;
      color: #007bff;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; */
      /* text-shadow: 2px 2px black; */
      }
  }