.logout-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  right: 0px;
  margin-top: 10px;
  position: fixed;
}
.logout-button {
  font-size: 10pt;
  font-weight: 500;
}