.review-card {
  margin-left: 10px;
  margin-right: 10px;
  max-height: 200px;
  min-height: 200px;
  max-width: 200px;
  min-width: 200px;
}

.card-title {
  font-size: large;
}

.text {
  font-size: larger;
}

.link {
  font-size: larger;
}